<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashgo</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/yourkitid.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-left">
            <li class="dropdown"><a href="#">Women <img src="./images/drop-down arrow.png" class="dropdown-icon"></a>
                <ul class="dropdown-menu">
                    <li class="dropdown"><a href="#">Topwear</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Tshirts</a></li>
                            <li><a href="#">Tops</a></li>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">Winterwear</a></li>
                            <li><a href="#">Co-ords</a></li>
                        </ul>
                    </li>
                    <img src="./images/Banner-1.jpg"
                    <li class="dropdown"><a href="#">Bottomwear</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Cargos</a></li>
                            <li><a href="#">Trousers</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Skirts</a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Trackpants</a></li>
                            <li><a href="#">Leggings</a></li>
                        </ul>
                    </li>

                    <li class="dropdown"><a href="#">Bottomwear</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Cargos</a></li>
                            <li><a href="#">Trousers</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Skirts</a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Trackpants</a></li>
                            <li><a href="#">Leggings</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Indianwear</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Kurtas</a></li>
                            <li><a href="#">Kurta Sets</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Innerwear & <br>Sleepwear</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Panties</a></li>
                            <li><a href="#">Hipsters</a></li>
                            <li><a href="#">Camisoles</a></li>
                            <li><a href="#">Shapewear</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Activewear</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Pants & Leggings</a></li>
                            <li><a href="#">Sports Bras</a></li>
                            <li><a href="#">Tank Tops</a></li>
                            <li><a href="#">Crop Tops</a></li>
                            <li><a href="#">T-Shirts</a></li>
                            <li><a href="#">Jackets</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown"><a href="#">Men <img src="./images/drop-down arrow.png" class="dropdown-icon"></a>
                <ul class="dropdown-menu">
                    <li class="dropdown"><a href="#">Topwear</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Blazers</a></li>
                            <li><a href="#">Waistcoats</a></li>
                            <li><a href="#">T-Shirts</a></li>
                            <li><a href="#">Formal Shirts</a></li>
                            <li><a href="#">Casual Shirts</a></li>
                            <li><a href="#">Jackets</a></li>
                            <li><a href="#">Sweatshirts</a></li>
                            <li><a href="#">Sweaters</a></li>
                            <li><a href="#">Shrugs</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Bottomwear</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Cargos</a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Trousers</a></li>
                            <li><a href="#">Formal Trousers</a></li>
                            <li><a href="#">Chinos</a></li>
                            <li><a href="#">Joggers</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Activewear</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">T-Shirts</a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Joggers & Trackpants</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Innerwear & <br>Sleepwear</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Trunks</a></li>
                            <li><a href="#">Briefs</a></li>
                            <li><a href="#">Loungewear</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Footwear</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Socks</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Kids</a></li>
            <li><a href="#">All</a></li>
        </ul>
        <div class="logo">
            <a href="#"><img src="./images/WhatsApp_Image_2025-02-02_at_19.43.07_09ce3a4c-removebg-preview.png" style="height: 80px;" class="logo-image"></a>
        </div>
        <ul class="nav-right">
            <li><a href="#">Enter a pincode</a></li>
            <li class="icon-size" id="search-icon"><img src="./images/search-interface-symbol.png"></li>
            <li class="icon-size"><img src="./images/heart (1).png"></li>
            <li class="icon-size"><img src="./images/user.png"></li>
            <li class="icon-size"><img src="./images/trolley.png"></li>
        </ul>
    </nav>
    <div class="banner">
        <p class="banner-text">30 Minute Delivery · COD Available</p>
    </div>
    <img src="./images/Fashgo.jpg" style="width: 95%; border-radius: 12px;" class="fashgo-img">

    <div class="ad">
        <div class="ad1">
            <img src="./images/fast-delivery.png" style="width: 100px;">
            <p>Delivered to your doorstep <br> within 30 minutes.</p>
        </div>
        <div class="ad2">
            <img src="./images/free.png" style="width: 100px;">
            <p>Free delivery on all orders <br> above ₹499.</p>
        </div>
        <div class="ad3">
            <img src="./images/authenticity.png" style="width: 100px;">
            <p>Your order is packed and<br> shipped straight from the<br> brand's retail store.</p>
        </div>
        <div class="ad4">
            <img src="./images/product-return.png" style="width: 100px;">
            <p>Don't love it? Don't worry.<br>Returns are as quick as the<br> delivery.</p>
        </div>
        <div class="ad5">
            <img src="./images/cod.png" style="width: 100px;">
            <p>Pay only when our delivery<br> partner reaches your<br>doorsteps.</p>
        </div>
    </div>

    <div class="brand-shop">
        <div>
        <h2>Shop by Brand</h2></div>
        <div>
        <p>Shop from your favorite brands in under 30 minutes</p></div>
    </div>


    <div class="brand-logo">
        <div class="nike"><img src="./images/vecteezy_nike-logo-vector-nike-icon-free-vector_20190687.jpg"></div>
        <div class="lv"><img src="./images/vecteezy_louis-vuitton-logo-louis-vuitton-icon-on-brown-background_21608791.jpg"></div>
        <div class="gap"><img src="./images/GAP logo.jpg"></div>
        <div class="hm"><img src="./images/HM.png"></div>
        <div class="versace"><img src="./images/Versace.jpg"></div>
    </div>

    <div>
        <img src="./images/ABCD-03.jpg" style="width: 95%;" class="advertisement">
    </div>
    <div class="brand-shop" id="abcdd">
        <h2>Store Collection</h2>
    </div>


    <div class="product-container">
        <div class="product-card">
            <img src="./images/photo-1.jpg" alt="Womens Black Casual Abstract Dress">
            <p>Womens Casual Abstract Dress</p>
            <h3>₹5,490</h3>
            <div class="button-container">
                <button class="add-to-cart-button">
                    <a href="#" class="button-link">Add to Cart</a>
                </button>
                <button class="wishlist-button">
                    <img src="./images/icons8-heart-50.png" style="height: 24px;">
                </button>
            </div>
        </div>
        <div class="product-card">
            <img src="./images/photo-3.jpg" alt="Womens Work Geometric Top">
            <p>Womens Work Geometric Top</p>
            <h3>₹3,990</h3>
            <div class="button-container">
                <button class="add-to-cart-button">
                    <a href="#" class="button-link">Add to Cart</a>
                </button>
                <button class="wishlist-button">
                    <img src="./images/icons8-heart-50.png" style="height: 24px;">
                </button>
            </div>
            
        </div>
        <div class="product-card">
            <img src="./images/photo-2.jpg" alt="Womens Work Abstract Top">
            <p>Womens Work Abstract Top</p>
            <h3>₹2,690</h3>
            <div class="button-container">
                <button class="add-to-cart-button">
                    <a href="#" class="button-link">Add to Cart</a>
                </button>
                <button class="wishlist-button">
                    <img src="./images/icons8-heart-50.png" style="height: 24px;">
                </button>
            </div>
        </div>
        <div class="product-card">
            <img src="./images/photo-4.jpg" alt="Womens Rust Work Solid Co-ords">
            <p>Womens Work Solid Co-ords</p>
            <h3>₹7,990</h3>
            <div class="button-container">
                <button class="add-to-cart-button">
                    <a href="#" class="button-link">Add to Cart</a>
                </button>
                <button class="wishlist-button">
                    <img src="./images/icons8-heart-50.png" style="height: 24px;">
                </button>
            </div>
        </div>
        <div class="product-card sale">
            <span class="sale-badge">Sale</span>
            <img src="./images/photo-5.jpg" alt="Womens White Casual Solid Top">
            <p>Womens White Casual Solid Top</p>
            <h3>₹1,245 <span class="original-price">₹2,490</span> <span class="discount">(50% OFF)</span></h3>
            <div class="button-container">
                <button class="add-to-cart-button">
                    <a href="#" class="button-link">Add to Cart</a>
                </button>
                <button class="wishlist-button">
                    <img src="./images/icons8-heart-50.png" style="height: 24px;">
                </button>
            </div>
        </div>
    </div>

    <div>
        <img src="./images/abddddd_Mesa de trabajo 1.jpg" style="width: 95%;" class="advertisement">
    </div>

    <div class="brand-shop" id="abcdd">
        <h2>Ain't Nobody Like my Desi Girl</h2>
    </div>
     
    <div class="product-container">
        <div class="product-card">
            <img src="./images/kurti-1.jpg" alt="Womens Black Casual Abstract Dress">
            <p>Women's Maroon Kurti</p>
            <h3>₹15,490</h3>
            <div class="button-container">
                <button class="add-to-cart-button">
                    <a href="#" class="button-link">Add to Cart</a>
                </button>
                <button class="wishlist-button">
                    <img src="./images/icons8-heart-50.png" style="height: 24px;">
                </button>
            </div>
        </div>
        <div class="product-card">
            <img src="./images/kurti-2.jpg" alt="Womens Work Geometric Top">
            <p>Women's Blue Kurti</p>
            <h3>₹13,990</h3>
            <div class="button-container">
                <button class="add-to-cart-button">
                    <a href="#" class="button-link">Add to Cart</a>
                </button>
                <button class="wishlist-button">
                    <img src="./images/icons8-heart-50.png" style="height: 24px;">
                </button>
            </div>
        </div>
        <div class="product-card">
            <img src="./images/kurti-3.jpg" alt="Womens Work Abstract Top">
            <p>Women's Magenta Kurti</p>
            <h3>₹12,690</h3>
            <div class="button-container">
                <button class="add-to-cart-button">
                    <a href="#" class="button-link">Add to Cart</a>
                </button>
                <button class="wishlist-button">
                    <img src="./images/icons8-heart-50.png" style="height: 24px;">
                </button>
            </div>
        </div>
        <div class="product-card">
            <img src="./images/kurti-4.jpg" alt="Womens Rust Work Solid Co-ords">
            <p>Women's Traditional Kurti</p>
            <h3>₹17,990</h3>
            <div class="button-container">
                <button class="add-to-cart-button">
                    <a href="#" class="button-link">Add to Cart</a>
                </button>
                <button class="wishlist-button">
                    <img src="./images/icons8-heart-50.png" style="height: 24px;">
                </button>
            </div>
        </div>
        <div class="product-card sale">
            <span class="sale-badge">Sale</span>
            <img src="./images/kurti-5.jpg" alt="Womens White Casual Solid Top">
            <p>Women's Brown Kurti'</p>
            <h3>₹6,245 <span class="original-price">₹12,490</span> <span class="discount">(50% OFF)</span></h3>
            <div class="button-container">
                <button class="add-to-cart-button">
                    <a href="#" class="button-link">Add to Cart</a>
                </button>
                <button class="wishlist-button">
                    <img src="./images/icons8-heart-50.png" style="height: 24px;">
                </button>
            </div>
        </div>
    </div>

    <div class="brand-shop" id="abcdd">
        <h2>Browse by Category</h2>
    </div>

    <div class="product-container">
        <div class="product-card">
            <img src="./images/Strength_Heavyweight_Oversized_Tee_Jade.jpg" alt="Womens Black Casual Abstract Dress">
            <p>Oversized Tshirt</p>
        </div>
        <div class="product-card">
            <img src="./images/Casual-tshirt.jpg" alt="Womens Work Geometric Top">
            <p>Casual Tshirts</p>
        </div>
        <div class="product-card">
            <img src="./images/Casual Shirt.jpg" alt="Womens Work Abstract Top">
            <p>Casual Shirts</p>
        </div>
        <div class="product-card">
            <img src="./images/Formal Shirt.jpg" alt="Womens Rust Work Solid Co-ords">
            <p>Formal Shirt</p>
        </div>
        <div class="product-card sale">
            <img src="./images/bottomwear.jpg" alt="Womens White Casual Solid Top">
            <p>Bottomwear</p>
        </div>
    </div>

    <div>
        <img src="./images/theme-image-1738952816186.jpg" style="width: 95%;" class="advertisement">
    </div>

    <div class="brand-shop" id="abcdd">
        <h2>Fashionable Menswear in 30 Minutes</h2>
    </div>

    <div class="product-container">
        <div class="product-card">
            <img src="./images/jeans-1.jpg" alt="Womens Black Casual Abstract Dress">
            <p>Men Baggy Tapered Fit Jeans</p>
            <h3>₹1,199</h3>
            <div class="button-container">
                <button class="add-to-cart-button">
                    <a href="#" class="button-link">Add to Cart</a>
                </button>
                <button class="wishlist-button">
                    <img src="./images/icons8-heart-50.png" style="height: 24px;">
                </button>
            </div>
        </div>
        <div class="product-card">
            <img src="./images/jeans-2.jpg" alt="Womens Work Geometric Top">
            <p>Men Steel Relaxed Fit Jeans</p>
            <h3>₹990</h3>
            <div class="button-container">
                <button class="add-to-cart-button">
                    <a href="#" class="button-link">Add to Cart</a>
                </button>
                <button class="wishlist-button">
                    <img src="./images/icons8-heart-50.png" style="height: 24px;">
                </button>
            </div>
        </div>
        <div class="product-card">
            <img src="./images/jeans-3.jpg" alt="Womens Work Abstract Top">
            <p>Men Rust Relaxed Fit Jeans</p>
            <h3>₹1599</h3>
            <div class="button-container">
                <button class="add-to-cart-button">
                    <a href="#" class="button-link">Add to Cart</a>
                </button>
                <button class="wishlist-button">
                    <img src="./images/icons8-heart-50.png" style="height: 24px;">
                </button>
            </div>
        </div>
        <div class="product-card">
            <img src="./images/jeans-4.jpg" alt="Womens Rust Work Solid Co-ords">
            <p>Men White Baggy Joggers</p>
            <h3>₹1,990</h3>
            <div class="button-container">
                <button class="add-to-cart-button">
                    <a href="#" class="button-link">Add to Cart</a>
                </button>
                <button class="wishlist-button">
                    <img src="./images/icons8-heart-50.png" style="height: 24px;">
                </button>
            </div>
        </div>
        <div class="product-card sale">
            <span class="sale-badge">Sale</span>
            <img src="./images/jeans-5.jpg" alt="Womens White Casual Solid Top">
            <p>Men Coffee BrownSolid Cargos</p>
            <h3>₹799</h3>
            <div class="button-container">
                <button class="add-to-cart-button">
                    <a href="#" class="button-link">Add to Cart</a>
                </button>
                <button class="wishlist-button">
                    <img src="./images/icons8-heart-50.png" style="height: 24px;">
                </button>
            </div>
        </div>
    </div>

    <div>
        <img src="./images/theme-2.jpg" style="width: 95%;" class="advertisement">
    </div>

    
    <div>
        <img src="./images/App promo flyer - Made with PosterMyWall.jpg" style="width: 95%;" class="advertisement">
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <p class="footer-title">SHOP</p>
                <ul>
                    <li><a href="#">WOMEN</a></li>
                    <li><a href="#">MENS</a></li>
                    <li><a href="#">KIDS</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <p class="footer-title">CORPORATE INFO</p>
                <ul>
                    <li><a href="#">Career at Fashgo</a></li>
                    <li><a href="#">About Fashgo Group</a></li>
                    <li><a href="#">Sustainability</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Corporate Governance</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <p class="footer-title">HELP</p>
                <ul>
                    <li><a href="#">Customer Service</a></li>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Find a Store</a></li>
                    <li><a href="#">Legal & Privacy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footer-section join-now">
                <p class="footer-title">JOIN NOW</p>
                <p>Get 100 points when you join!</p>
                <a href="#" class="signup-btn">SIGN UP →</a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
            </div>
            <p>The content of this site is copyright-protected and is the property of Fashgo.</p>
            <p class="footer-brand" style="font-size:xx-large; margin-top: 10px; margin-bottom: 10px;">FASHGO</p>
            <p>INDIA | Rs.</p>
        </div>
    </footer>
    
    <style>
    footer {
        background-color: #f8f8f8;
        padding: 40px 20px;
        text-align: center;
        font-family: Arial, sans-serif;
    }
    .footer-container {
        display: flex;
        justify-content: center;
        gap: 140px;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
    .footer-title {
        font-weight: bold;
        margin-bottom: 40px;
        color: #666;
    }
    .footer-section ul {
        list-style: none;
        padding: 0;
    }
    .footer-section ul li a {
        text-decoration: none;
        color: black;
        display: block;
        margin-bottom: 15px;
    }
    .footer-section ul li a:hover {
        text-decoration: underline;
    }
    .signup-btn {
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
    .signup-btn:hover {
        text-decoration: underline;
    }
    .footer-bottom {
        margin-top: 20px;
        text-align: center;
    }
    .footer-brand {
        font-weight: bold;
        color: #666;
    }
    .social-icons a {
        margin: 0 5px;
        font-size: 20px;
        color: black;
        text-decoration: none;
    }
    .social-icons a:hover {
        color: gray;
    }
    </style>
    
    
    <script src="index.js"></script>
</body>
</html>
